<div class="uncharted-thumbnails-thumbnail {{#unless disableFlipping}} flip-container {{/unless}}" data-id="{{id}}">
    <div class="flipper">
        {{#unless removeFrontCard}}
            <div class="front card">
                {{#if iconUrl}}
                    <div class="card-icon" style="background-image: url({{iconUrl}})"></div>
                {{/if}}
                <div class="card-content-container">
                    <div class="card-content">
                        {{#if imageUrl}}
                            <div class="card-image">
                                {{#cardImages imageUrl}}
                                    <div class="image" data-url="{{url}}"></div>
                                {{/cardImages}}
                            </div>
                        {{/if}}

                        <div class="card-body">
                            {{#if title}}
                                <h1 class="title">{{title}}</h1>
                            {{/if}}
                            {{#if subtitle}}
                                <div class="subtitle meta-line">
                                    {{#each subtitle}}{{#unless @first}}<span class="delimiter">{{../subtitleDelimiter}}</span>{{/unless}}<span class="value">{{this}}</span>{{/each}}
                                </div>
                            {{/if}}
                            <div class="summary">{{{summary}}}</div>
                        </div>
                    </div>
                </div>
            </div>
        {{/unless}}
        {{#unless removeBackCard}}
        <div class="back card">
            <div class="card-content-container metadata-content-container {{#if imageUrl}}has-image{{/if}}">
                <div class="meta-data-content">
                    <div class="card-body">
                        <div class="title-box">
                            <h1 class="title value">{{title}}</h1>
                        </div>
                        {{#if subtitle}}
                            <div class="subtitle meta-line">
                                {{#each subtitle}}{{#unless @first}}<span class="delimiter">{{../subtitleDelimiter}}</span>{{/unless}}<span class="value">{{this}}</span>{{/each}}
                            </div>
                        {{/if}}
                        <div class="meta-data-table">
                            <div class="keys-container">
                                {{#each metadata}}
                                    <div class="value-box">
                                        <span class="value">{{@key}}</span> 
                                    </div>
                                {{/each}}
                            </div>
                            <div class="values-container">
                                {{#each metadata}}
                                    <div class="value-box">
                                        <span class="value">
                                            {{#isImageDataUrl this}}
                                                <img src="{{this}}" alt="">
                                            {{else}}
                                                {{#linkify this}}{{/linkify}}
                                            {{/isImageDataUrl}}
                                        </span>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{#if imageUrl}}
                    <div class="meta-data-images-container">
                        {{#cardImages imageUrl}}
                        <div class="image" data-url="{{url}}" style="background-image:url({{url}})"></div>
                        {{/cardImages}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/unless}}
    </div>
</div>
