<div class="uncharted-thumbnails-thumbnail flip-container" data-id="{{id}}">
    <div class="flipper">
        <div class="front card">
            <div class="flip-tag"></div>
            {{#if iconUrl}}
                <div class="card-icon" style="background-image: url({{iconUrl}})"></div>
            {{/if}}
            <div class="card-content-container">
                <div class="card-content">
                    {{#if imageUrl}}
                        <div class="card-image">
                            {{#cardImages imageUrl}}
                                <div class="image" data-url="{{url}}"></div>
                            {{/cardImages}}
                        </div>
                    {{/if}}

                    <div class="card-body">
                        <h1 class="title">{{title}}</h1>
                        <ul class="meta-line">
                            <li class="author">{{author}}</li>
                            {{#if articleDate}}
                                <li>
                                    <time class="updated">{{articleDate}}</time>
                                </li>
                            {{/if}}
                        </ul>
                        <div class="summary">{{{summary}}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back card">
            <div class="flip-tag"></div>
            <div class="card-content-container">
                <div class="metadata-content">
                    <h1 class="title">{{title}}</h1>
                    <div class="image"></div>
                    <ul class="meta-line">
                        <li class="author">{{author}}</li>
                        {{#if articleDate}}
                            <li>
                                <time class="updated">{{articleDate}}</time>
                            </li>
                        {{/if}}
                    </ul>
                    <div class="meta-data">
                        {{#each metadata}}
                            <div><span class="key">{{@key}}:</span> {{this}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
