<div class="uncharted-thumbnails-reader-content">
    <div class="reader-content-header">
        <a class="source-link" href="{{sourceUrl}}" target="_blank">{{source}}</a>
        {{#if iconUrl}}
            <div class="source-icon" style="background-image: url({{iconUrl}})"></div>
        {{/if}}
    </div>
    <i class="fa fa-times close-button"></i>
    <div class="content-container">
        <h1 class="title">{{title}}</h1>
        {{#if subtitle}}
            <div class="subtitle meta-line">
                {{#each subtitle}}{{#unless @first}}<span class="delimiter">{{../subtitleDelimiter}}</span>{{/unless}}<span class="value">{{this}}</span>{{/each}}
            </div>
        {{/if}}
        <div class="columns-container">
            {{#if metadata}}
            <div class="meta-data">
                {{#each metadata}}
                <div>
                    <span class="key">{{@key}} </span>
                    <span class="value">
                    {{#isImageDataUrl this}}
                        <img src="{{this}}" alt="">
                    {{else}}
                        {{#linkify this}}{{/linkify}}
                    {{/isImageDataUrl}}
                    </span>
                </div>
                {{/each}}

            </div>
            {{/if}} {{#if imageUrl}}
            <div class="images-container">
                {{#cardImages imageUrl}}
                <div class="image" data-url="{{url}}" style="background-image:url({{url}})"></div>
                {{/cardImages}}
            </div>
            {{/if}}
        </div>
        <div class="content">
            {{{content}}}
        </div>
    </div>
</div>
