{{!-- 
/*
 * Copyright 2017 Uncharted Software Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 --}}

<div class="uncharted-cards-reader-content" style="{{#if topBarColor}}border-top: 5px solid {{topBarColor}};{{/if}}">
    <div class="reader-content-header">
            {{#if source}}
                <div class="header-source-link-box">
                    <div class="header-source-link-background" style="background: {{headerBackgroundColor}};"></div>
                    <a class="source-link" style="color: {{headerSourceLinkColor}};" href="{{sourceUrl}}" target="_blank" title="{{sourceUrl}}">{{source}}</a>
                </div>
            {{/if}}
            <div class="close-button">
                <div class="icon-box">
                    <i class="fa fa-compress"></i>
                </div>
            </div>
            {{#if iconUrl}}
                <div class="source-icon" style="background-image: url({{iconUrl}})"></div>
            {{/if}}
    </div>
    <div class="reader-content-viewport">
        <div class="reader-content-header-image">
        </div>
        <div class="reader-content-body">
            <h1 class="title">{{title}}</h1>
            {{#if subtitle}}
                <div class="subtitle meta-line">
                    {{#each subtitle}}{{#unless @first}}<span class="delimiter">{{../subtitleDelimiter}}</span>{{/unless}}<span class="value">{{this}}</span>{{/each}}
                </div>
            {{/if}}

            <div class="content">
                {{{content}}}
            </div>

            {{#if metadata}}
                <hr>
                <table class="reader-content-meta-data-table">
                    {{#each metadata}}
                        <tr>
                            <td class="value-box key-column">
                                <span class="value" title="{{@key}}">{{@key}}</span>
                            </td>
                            <td class="value-box value-column">
                                <span class="value">
                                    {{#if this}}
                                        {{#isImageDataUrl this}}
                                            <img src="{{this}}" alt="">
                                        {{else}}
                                            {{#linkify this}}{{/linkify}}
                                        {{/isImageDataUrl}}
                                    {{/if}}
                                </span>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
    </div>
</div>
