{{!-- 
/*
 * Copyright 2018 Uncharted Software Inc.
 */
 --}}

<div class="uncharted-cards-reader-content" style="{{#if topBarColor}}border-top: 5px solid {{topBarColor}};{{/if}}">
    <div class="reader-content-header">
        {{#if source}}
            <div class="header-source-link-box">
                <div class="header-source-link-background" style="background: {{headerBackgroundColor}};"></div>
                <a class="source-link" style="color: {{headerSourceLinkColor}};" href="{{sourceUrl}}" target="_blank" title="{{sourceUrl}}">{{source}}</a>
            </div>
        {{/if}}
        <div class="close-button">
            <div class="icon-box">
                <i class="fa fa-compress"></i>
            </div>
        </div>
        {{#if iconUrl}}
            <div class="source-icon" style="background-image: url({{iconUrl}})"></div>
        {{/if}}
    </div>
    <div class="reader-content-viewport">
        <div class="reader-content-header-image">
        </div>
        <div class="reader-content-body">
            <h1 class="title">{{title}}</h1>
            {{#if subtitle}}
                <div class="subtitle meta-line">
                    {{#each subtitle}}{{#unless @first}}<span class="delimiter">{{../subtitleDelimiter}}</span>{{/unless}}<span class="value">{{this}}</span>{{/each}}
                </div>
            {{/if}}

            <div class="content">
                {{{content}}}
            </div>

            {{#if metadata}}
                <hr>
                <table class="reader-content-meta-data-table" width ="100%" style="font-size: {{metaDataFontSize}}pt;">
                    {{#each metadata}}
                        <tr>
                            <td class="value-box key-column left-column">
                                <span class="value" title="{{@key}}" style="color: {{../metaDataTitleColor}}; font-family: {{../metaDataTitleFontFamily}}">{{@key}}</span>
                            </td>
                            <td class="value-box value-column right-column" style="color: {{../metaDataValueColor}}; font-family: {{../metaDataValueFontFamily}}">
                                <span class="value"> {{#if this}} {{#isImageDataUrl this}} <img src="{{this}}" alt=""> {{else}} {{#linkify this}}{{/linkify}} {{/isImageDataUrl}}  {{/if}}
                                </span>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
    </div>
</div>
