<div class="uncharted-wrapped-thumbnails-view">
    <div class="thumbnails-container">
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
        <div class="dummy-thumbnail" style="width: {{thumbnailWidth}};"></div>
    </div>
</div>