{{!--
/*
 * Copyright 2018 Uncharted Software Inc.
 */
 --}}
<div class='visual-container'>
    <div class="flip-panel">
        <div class="switch">
            <!--<input type="checkbox" class="switchInput">-->
            <div class="flip-button">
                <input id={{previewId}} type="radio" name={{previewId}} class="preview" checked="checked"/>
                <label for={{previewId}} class="flip-left-side">
                    <div class="box" aria-hidden="true"></div>
                    <div class="box" aria-hidden="true"></div>
                </label>
                <input id={{metadataId}} type="radio" name={{metadataId}} class="metadata"/>
                <label for={{metadataId}} class="flip-right-side">
                    <div class="box" aria-hidden="true"></div>
                    <div class="box" aria-hidden="true"></div>
                </label>
            </div>
        </div>
    </div>
    <div class="container {{#if enableBlurFix}} fix-blur-hack {{/if}}"></div>
</div>