{{!--
/*
 * Copyright 2018 Uncharted Software Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 --}}
<div class='visual-container'>
    <div class="flip-panel">
        <div class="switch">
            <!--<input type="checkbox" class="switchInput">-->
            <div class="flip-button">
                <input id={{previewId}} type="radio" name={{previewId}} class="preview" checked="checked"/>
                <label for={{previewId}} class="flip-left-side">
                    <div class="box" aria-hidden="true"></div>
                    <div class="box" aria-hidden="true"></div>
                </label>
                <input id={{metadataId}} type="radio" name={{metadataId}} class="metadata"/>
                <label for={{metadataId}} class="flip-right-side">
                    <div class="box" aria-hidden="true"></div>
                    <div class="box" aria-hidden="true"></div>
                </label>
            </div>
        </div>
    </div>
    <div class="container {{#if enableBlurFix}} fix-blur-hack {{/if}}"></div>
</div>