{{!-- 
/*
 * Copyright 2018 Uncharted Software Inc.
 */
 --}}

<div class="uncharted-wrapped-cards-view">
    <div class="cards-container">
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
        <div class="dummy-card" style="width: {{cardWidth}}px;"></div>
    </div>
</div>